.auth-form {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f4f4f9;
}

.form-container {
  background: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
  width: 300px;
  text-align: center;
}

.form-container h2 {
  margin-bottom: 15px;
  color: #333;
}

.form-container input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
}

.form-container button {
  width: 100%;
  padding: 10px;
  background-color: #857b7b;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.form-container button:hover {
  background-color: #3c3939;
}

.error-message {
  color: red;
  font-size: 12px;
  margin-top: 10px;
}

.success-message {
  color: green;
  font-size: 12px;
  margin-top: 10px;
}

.toggle-button {
  background: none;
  border: none;
  color: #fff;
  text-decoration: underline;
  cursor: pointer;
  font-size: 1rem;
}
.toggle-button:hover {
  color: #fff;
}

.log-out-button {
  width: 100%;
  padding: 10px;
  margin: 0.5rem;
  background-color: #857b7b;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.log-out-button button:hover {
  background-color: #3c3939;
}
